@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./arcoDesign.css');



/* 设置滚动条的高度 */
::-webkit-scrollbar {
  width: 10px;
  height: 16px;
}

/* 设置滚动条的背景色 */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #008974;
  border-radius: 10px;
  min-width: 100px;
}

input:focus {
  border: #008974 !important;
}

h1 {
  font-size: 48px !important;
}

h2 {
  font-size: 40px !important;
}

body {
  background-color: #FAFAFA !important;
  font-family: 'Poppins' !important;

}



:is(table, td, thead) {
  border: #C8C8C8 1px solid !important;
  padding: 5px;
}

table tbody tr td:first-child {
  background-color: #008974 !important;
  color: white !important;
}

.arco-tabs-header-nav-card-gutter .arco-tabs-header-title {
  margin-left: 1.5rem;
  width: 185px;
  height: 40px;
  background: '#F0F0F0';
}

.arco-tabs-header-title-active {
  background-color: #059669 !important;
  color: #fff;
}

.arco-tabs-header-title-text {
  margin: auto;
}

.arco-tabs-header-title-active:hover {
  color: #fff;
}

.arco-collapse-item-content-box {
  padding: 2rem 1.5rem 6rem 1.5rem;
}

.arco-collapse-item-content {
  background-color: #fff;
}

.arco-collapse,
.arco-collapse-item {
  border: none;
}

.arco-collapse-item-content-box {
  background-color: #FAFAFA;
}

.arco-collapse-item-header {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;

}

.arco-collapse-item-header-icon {
  font-size: 32px;
}

.arco-icon-down {
  font-size: 1.875rem;
}

.arco-tabs-header-nav {
  display: flex;
  justify-content: center;
}

.arco-tabs-header-nav::before {
  display: none;
}


.arco-tabs-card-gutter>.arco-tabs-content {
  border: none;
}

.swiper-pagination-bullet-active {
  background-color: #008974 !important;
}